<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mariadb.metrics</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/nedyalko.petrov/Documents/SkySQL/skyrepos/splunk-integration/scripts/mariadb_metrics_wrapper.sh</string>
    </array>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>MARIADB_API_KEY</key>
        <string>skysql.1zzz.5yw3vcv6.AyTAlj9iYSsRKqW4iJgw2bCwsOZ0TADfbtza.ed3b35ed</string>
        <key>MARIADB_API_URL</key>
        <string>https://api-test.skysql.com</string>
        <key>SPLUNK_HEC_TOKEN</key>
        <string>a101e96c-88af-488f-bab6-8a5d154b3471</string>
        <key>SPLUNK_HEC_URL</key>
        <string>https://inputs.prd-p-29k1h.splunkcloud.com:8088</string>
        <key>SPLUNK_HEC_VERIFY_SSL</key>
        <string>false</string>
    </dict>
    
    <key>StartInterval</key>
    <integer>60</integer>
    
    <key>StandardOutPath</key>
    <string>/tmp/mariadb_metrics.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/mariadb_metrics.error.log</string>
    
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
